# Pandas and Matplotlib Homework

In [6]:
#load the libraries using the normal convention
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
##prevent plotting errors
%matplotlib inline

In [7]:
#Load our excel files of interest into pandas
NHL_Goalies = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheetname=0) 
GAA_ = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheetname='5vs5')

/Users/Alice/miniconda2/envs/myenv/lib/python3.7/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

#Appendix:
 1. DF = Pandas DataFrame
 2. NHL_Goalies DF = NHL_Goalies 
 3. GAA_ DF = GAA_

### Q1A) Create a new DF (*called NHL_Ones*) by:
#### Filtering the correct DF for Goalies that played 1 game <font color='red'> (GP = Games played)</font>

Notes: How would you find the 'GP' column in these files?

In [21]:
#Answer 1A:
#NHL_Goalies_GP = NHL_Goalies[["GP"]]
#print(NHL_Goalies_GP)

NHL_Ones = NHL_Goalies.loc[NHL_Goalies['GP'] == 1]

#print(NHL_Ones)
#print(NHL_Ones['GP'])

      Last Name First Name Team         DOB        Birth City  S/P Cntry  Nat  \
1         Alves      Jorge  CAR  1979-01-30            Boston   MA   USA  USA
13     Campbell       Jack  LAK  1992-01-09        Port Huron   MI   USA  USA
14       Comrie       Eric  WPG  1995-07-06          Edmonton   AB   CAN  CAN
16       Copley    Pheonix  STL  1992-01-18        North Pole   AK   USA  USA
22     Driedger      Chris  OTT  1994-05-18          Winnipeg   MB   CAN  CAN
27     Forsberg      Anton  CBJ  1992-11-27         Härnösand  NaN   SWE  SWE
29      Gillies        Jon  CGY  1994-01-22           Concord   NH   USA  USA
32   Gudlevskis   Kristers  TBL  1992-07-31        Aizkraukle  NaN   LVA  LVA
42        Jarry    Tristan  PIT  1995-04-29            Surrey   BC   CAN  CAN
50    Langhamer      Marek  ARI  1994-07-22  Moravska Trebova  NaN   CZE  CZE
67  Nedeljkovic       Alex  CAR  1996-01-07             Parma   OH   USA  USA
80      Rittich      David  CGY  1992-08-19           Jihlava  NaN   CZE  CZE
87       Subban    Malcolm  BOS  1993-12-21           Toronto   ON   CAN  CAN
89     Tokarski     Dustin  ANA  1989-09-16            Watson   SK   CAN  CAN
90      Ullmark      Linus  BUF  1993-07-31           Lugnvik  NaN   SWE  SWE

    Ht   Wt  ...    Cap Hit        Pace  1st  2nd  3rd  Star  GPS  Ginj  \
1   69  185  ...        NaN    0.000000  NaN  NaN  NaN   NaN  0.0   NaN
13  74  197  ...        NaN   96.000000  NaN  NaN  NaN   NaN  0.1   NaN
14  73  175  ...   645000.0  124.451939  NaN  NaN  NaN   NaN  0.2   NaN
16  76  196  ...   708750.0  104.864253  NaN  NaN  NaN   NaN -0.1   NaN
22  76  205  ...   755000.0  123.000000  NaN  NaN  NaN   NaN -0.2   NaN
27  75  192  ...   650000.0  110.611664  NaN  NaN  NaN   NaN  0.0   NaN
29  78  223  ...   925000.0  109.000000  1.0  0.0  0.0   1.0  0.3   NaN
32  75  223  ...        NaN  125.764192  NaN  NaN  NaN   NaN  0.0   NaN
42  74  194  ...   630833.0  107.234043  NaN  NaN  NaN   NaN  0.0   NaN
50  74  193  ...   648333.0   88.936627  NaN  NaN  NaN   NaN  0.0   NaN
67  72  198  ...        NaN  102.170284  NaN  NaN  NaN   NaN  0.3   NaN
80  75  202  ...        NaN  108.000000  NaN  NaN  NaN   NaN  0.0   NaN
87  74  200  ...   863333.0  107.843137  NaN  NaN  NaN   NaN -0.1   NaN
89  72  205  ...        NaN   91.993186  NaN  NaN  NaN   NaN  0.1   NaN
90  76  221  ...   775833.0  100.113507  NaN  NaN  NaN   NaN  0.2   NaN

    Injuries  CHIP
1        NaN
13       NaN
14       NaN
16       NaN
22       NaN
27       NaN
29       NaN
32       NaN
42       NaN
50       NaN
67       NaN
80       NaN
87       NaN
89       NaN
90       NaN

[15 rows x 111 columns]
1     1
13    1
14    1
16    1
22    1
27    1
29    1
32    1
42    1
50    1
67    1
80    1
87    1
89    1
90    1
Name: GP, dtype: int64

 ## Q1B) 
 #### A. Find the value of the minimum Salary for the entire dataset 
 #### B. Replace the missing values from the NHL_Ones DF with this
 #### C. Create a new DF after replacement by **adding** a column called  "Adjusted_Salary"
 #### D. I would like to only see the old "Salary" column and the "Adjusted Salary" column from the new Dataframe

#### Notes:
1. Note where the minimum Salary value is coming & where you are going to assign it to
2. Read up on **replacement** of missing values
3. Look up Numpy definition for null
4. Look up Pandas **Series** Naming 
5. Review concat function in Pandas
6. Review how to slice columns

In [24]:
#Answer 1B:
min_salary = NHL_Goalies['Salary'].min()
print(min_salary)

#Answer 1C:
print(NHL_Ones['Salary'])
NHL_Ones_Modified = NHL_Ones['Salary'].fillna(min_salary, inplace=True)

#print(NHL_Ones_Modified['Salary'])

#Answer 1D

575000.0
1     575000.0
13    575000.0
14    575000.0
16    708750.0
22    780000.0
27    650000.0
29    925000.0
32    575000.0
42    575000.0
50    673334.0
67    575000.0
80    575000.0
87    832500.0
89    575000.0
90    892500.0
Name: Salary, dtype: float64

/Users/Alice/miniconda2/envs/myenv/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

TypeError: 'NoneType' object is not subscriptable

### Q2) A. Subset the NHL goalies data to include Goalies that played in more than 25 games AND have a GAA lower than 3.00 and store the New DF as 'workhorse'

Notes: 
1. Review notes creating "boolean" masks
2. Internet search for Multiple Boolean indexing on multiple columns in a Pandas DataFrame

In [ ]:
#Answer 2:

### Q3. Create 2 python functions that: 
<br> </br>
#### A. Creates/*Returns* a new DataFrame that displays the number of missing values in every column. 
#### This new DataFrame has one new column named "Missing" with the sum of the missing values from the columns

### Notes 
***Function takes one argument: An input DataFrame***
<br> </br>
<br> </br>
** One Proposed method:**
1. Create a pandas series object from the sum of the nulls in every column
2. Convert the series object to a DataFrame and pass the list of column names from the input DataFrame as the index. (read Pandas Help online)
3. During the conversion of the series object to a DataFrame pass a columns argument to create a name for the new Output DataFrame's Column.

### Expected Output:
<img src='Missing_cols_expectedoutput.png'>

In [ ]:
# Answer 3A: CODE HERE; Please comment each part

#### B. Creates a new *column* called 'missing_values' in the input DF that sums the missing values in each row.

### Notes: 
***Function takes one argument: An input DataFrame***
<br> </br>
<br> </br>
Check out how to use axis argument and how to create new columns in an existing dataframe

### Expected Output:
<img src= 'missingrows_expectedoutput.png'>

In [ ]:
#Answer 3B here; Please comment each part

### Q4) Matplotlib Question Plot in one figure and 2 side by side plots:
<br> </br>
#### A. Plot the histogram of the all the GAA of the NHL_Goalies DF  AND the goalies that played in more than 25 games with a GAA < 3.00, 
#### B. Label the Titles of the plots differently (*ie EntireSet + Subset*)
#### C. Change the color of one of the plots from the default

# Notes

1. convert your column of interest into a NumPY array (look up online for usage)
2. Review: https://matplotlib.org/devdocs/api/_as_gen/matplotlib.pyplot.hist.html

In [ ]:
#Answer 4 here: pleae comment

### Q5) GroupBy Question
##### 1. Subset the NHL_Goalies DataFrame where Injuries is not known <font color='red'>(Injuries=NaN)</font>; 
##### 2. Use a Merge with the GAA_  DF to produce a NEW DF (*called mergedDF*) 
###### *** USE A JOIN THAT PRESERVES ORDER AND USES THE INTERSECTION OF KEYS***
###### *** USE BOTH THE LEFT AND RIGHT INDEXES AS JOIN KEYS***
##### 3. From the mergedDF keep FirstName/LastName/Team/Cntry/ SV% /GA/GAA/ TOI (note one copy for any duplicate column)
##### 4. GroupBy country on mergedDF and aggregate The Means, Mins, and Maximum of the kept columns
#### 5. Create a dataframe of the <font color='red'>TOI </font>groupby object and write it to a comma seperated value file called ('TOI_2017.csv')

## Notes:

1. Review or read up pandas documentation on:
    - how to create selection criteria
    - how aggs/joins work: https://pandas.pydata.org/pandas-docs/stable/merging.html
2. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html
3. https://stackoverflow.com/questions/14734533/how-to-access-pandas-groupby-dataframe-by-key
4. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.get.html

In [ ]:
#Answer 5 here: please comments

# Q6) Write a function(s)  
## that subsets a dataframe by removing rows that are WITHIN the InterQuartile Region of a specified column
<br> </br>
### The function takes as input 
##### A: Pandas_Dataframe (For example use NHL_GoaliesDF)
##### B. Column name
### Add a condition that returns an error if the Column Name chosen is not:
##### A. Numeric Dtype
##### B. Does not exist in the Numeric Columns
### The output is a DataFrame that removes rows outside of the specified columns IQR
<br> </br>
<font color='red'>**You can use smaller helper functions **<font>
<br> </br>
See --> <href>=https://en.wikipedia.org/wiki/Interquartile_range</href>
#hint: There are several pandas subfunctions that can be useful

In [ ]:
#Answer Question 6 here